* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}

#add-book-button {
    margin-top: 10px;
}

.display-flex {
    display: flex;
    flex-direction: column;
}

#book-form {
    width: 400px;
    padding: 60px;
    text-align: left;
}

fieldset {
    margin: 3px 0 3px 0;
    border: none;
}

#library-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.book-card {
    background-color: lightgray;
    padding: 30px;
    border-radius: 5px;
}